--
-- PostgreSQL database dump
--

\restrict oMcc2y9ABC49Lf86GDy3tK961C5oYNhpkqwVz1dOzyFMOU56vCjDCW42Korcbcd

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actions (
    id text NOT NULL,
    control_id text,
    action_name text NOT NULL,
    action_description text,
    action_priority text,
    action_status text,
    action_type text,
    assigned_to text,
    due_date date,
    notes text,
    comments text,
    tenant_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    is_deleted boolean DEFAULT false,
    deleted_at timestamp with time zone,
    deleted_by text
);


ALTER TABLE public.actions OWNER TO postgres;

--
-- Name: audits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audits (
    id text,
    audit_name text,
    audit_note text,
    audit_priority text,
    audit_type text,
    audit_status text,
    control_stage text,
    attachment text,
    audit_owner text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    comments text,
    tenant_id uuid NOT NULL,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp with time zone,
    deleted_by text
);


ALTER TABLE public.audits OWNER TO postgres;

--
-- Name: bugs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bugs (
    "Bug ID" text NOT NULL,
    "Project" text,
    "Component" text,
    "Assignee" text,
    "Status" text,
    "Resolution" text,
    "Summary" text,
    "Changed" timestamp with time zone,
    "%Complete" integer,
    "Actual Hours" numeric,
    "Alias" text,
    "Application / Tool / Website Tested" text,
    "Assignee Real Name" text,
    "Automation Id" text,
    "Automation Intent" text,
    "automation status" text,
    automation_owner text,
    "Blocks" text,
    "Browser tested" text,
    "Bug Age (in days)" integer,
    "Build number as in 0.0.0.0" text,
    "Classification" text,
    "Deadline" timestamp with time zone,
    "Defect type" text,
    "Depends on" text,
    "Details about the solution provided" text,
    "Device type" text,
    dummy text,
    "Environment" text,
    "Hardware" text,
    "Hours Left" numeric,
    "Internally Reviewed?" text,
    "Keywords" text,
    "Last Visit" timestamp with time zone,
    "Number of Comments" integer,
    "Opened" timestamp with time zone,
    "Orig. Est." numeric,
    "OS" text,
    "Personal Tags" text,
    "Priority" text,
    "Project owner" text,
    "RAM" text,
    "Reporter" text,
    "Reporter Real Name" text,
    "reproducible steps for defects" text,
    "Reviewed in Triage?" text,
    "Root cause category" text,
    "Root cause desc." text,
    "Severity" text,
    "Sprint details" text,
    "Test Case Id" text,
    "Testing phase" text,
    "Ticket Type" text,
    "Transition to reopened" text,
    "URL" text,
    "User Story Id" text,
    "User Story Mapped" text,
    "vCPUs" text,
    "Version" text,
    tenant_id uuid DEFAULT '00000000-0000-0000-0000-000000000001'::uuid NOT NULL,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp with time zone,
    deleted_by text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_bugs_actual_hours CHECK ((("Actual Hours" IS NULL) OR ("Actual Hours" >= (0)::numeric))),
    CONSTRAINT chk_bugs_automation_intent CHECK ((("Automation Intent" IS NULL) OR ("Automation Intent" = ANY (ARRAY['Yes'::text, 'No'::text])))),
    CONSTRAINT chk_bugs_automation_status CHECK ((("automation status" IS NULL) OR ("automation status" = ANY (ARRAY['Pending'::text, 'Automated'::text, 'Skipped'::text, 'In Progress'::text])))),
    CONSTRAINT chk_bugs_browser_tested CHECK ((("Browser tested" IS NULL) OR ("Browser tested" = ANY (ARRAY['Chrome'::text, 'Firefox'::text, 'Edge'::text, 'Safari'::text, 'Opera'::text, 'Internet Explorer'::text])))),
    CONSTRAINT chk_bugs_bug_age CHECK ((("Bug Age (in days)" IS NULL) OR ("Bug Age (in days)" >= 0))),
    CONSTRAINT chk_bugs_classification CHECK ((("Classification" IS NULL) OR ("Classification" = ANY (ARRAY['P1'::text, 'P2'::text, 'P3'::text, 'P4'::text])))),
    CONSTRAINT chk_bugs_complete_percentage CHECK ((("%Complete" IS NULL) OR (("%Complete" >= 0) AND ("%Complete" <= 100)))),
    CONSTRAINT chk_bugs_defect_type CHECK ((("Defect type" IS NULL) OR ("Defect type" = ANY (ARRAY['Functional'::text, 'UI'::text, 'Performance'::text, 'Security'::text, 'Compatibility'::text])))),
    CONSTRAINT chk_bugs_device_type CHECK ((("Device type" IS NULL) OR ("Device type" = ANY (ARRAY['Web'::text, 'Mobile'::text, 'Tablet'::text, 'Desktop'::text])))),
    CONSTRAINT chk_bugs_hardware CHECK ((("Hardware" IS NULL) OR ("Hardware" = ANY (ARRAY['PC'::text, 'Mobile'::text, 'Tablet'::text, 'Other'::text])))),
    CONSTRAINT chk_bugs_hours_left CHECK ((("Hours Left" IS NULL) OR ("Hours Left" >= (0)::numeric))),
    CONSTRAINT chk_bugs_internally_reviewed CHECK ((("Internally Reviewed?" IS NULL) OR ("Internally Reviewed?" = ANY (ARRAY['Yes'::text, 'No'::text])))),
    CONSTRAINT chk_bugs_number_of_comments CHECK ((("Number of Comments" IS NULL) OR ("Number of Comments" >= 0))),
    CONSTRAINT chk_bugs_orig_est CHECK ((("Orig. Est." IS NULL) OR ("Orig. Est." >= (0)::numeric))),
    CONSTRAINT chk_bugs_os CHECK ((("OS" IS NULL) OR ("OS" = ANY (ARRAY['Windows'::text, 'MacOS'::text, 'Linux'::text, 'Android'::text, 'iOS'::text, 'Other'::text])))),
    CONSTRAINT chk_bugs_priority CHECK ((("Priority" IS NULL) OR ("Priority" = ANY (ARRAY['Low'::text, 'Medium'::text, 'High'::text, 'Critical'::text, 'Blocker'::text])))),
    CONSTRAINT chk_bugs_resolution CHECK ((("Resolution" IS NULL) OR ("Resolution" = ANY (ARRAY['Unresolved'::text, 'Fixed'::text, 'Won''t Fix'::text, 'Duplicate'::text, 'Invalid'::text, 'Works as Designed'::text])))),
    CONSTRAINT chk_bugs_reviewed_in_triage CHECK ((("Reviewed in Triage?" IS NULL) OR ("Reviewed in Triage?" = ANY (ARRAY['Yes'::text, 'No'::text])))),
    CONSTRAINT chk_bugs_root_cause_category CHECK ((("Root cause category" IS NULL) OR ("Root cause category" = ANY (ARRAY['Code Issue'::text, 'Design Issue'::text, 'Configuration Issue'::text, 'Environment Issue'::text, 'Data Issue'::text, 'Unknown'::text])))),
    CONSTRAINT chk_bugs_severity CHECK ((("Severity" IS NULL) OR ("Severity" = ANY (ARRAY['Trivial'::text, 'Minor'::text, 'Major'::text, 'Critical'::text, 'Blocker'::text])))),
    CONSTRAINT chk_bugs_status CHECK ((("Status" IS NULL) OR ("Status" = ANY (ARRAY['OPEN'::text, 'IN PROGRESS'::text, 'RESOLVED'::text, 'CLOSED'::text, 'REOPENED'::text])))),
    CONSTRAINT chk_bugs_testing_phase CHECK ((("Testing phase" IS NULL) OR ("Testing phase" = ANY (ARRAY['System testing'::text, 'Regression'::text, 'UAT'::text, 'Smoke'::text, 'Integration'::text, 'Unit'::text])))),
    CONSTRAINT chk_bugs_ticket_type CHECK ((("Ticket Type" IS NULL) OR ("Ticket Type" = ANY (ARRAY['Bug'::text, 'Change Request'::text, 'New Feature'::text, 'Enhancement'::text]))))
);


ALTER TABLE public.bugs OWNER TO postgres;

--
-- Name: bugs_backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bugs_backup (
    "Bug ID" text,
    "Defect type" text,
    "Summary" text,
    "Priority" text,
    "Product" text,
    "Component" text,
    "Assignee" text,
    "Status" text,
    "Resolution" text,
    "Changed" text,
    "Sprint details" text,
    "Reporter" text,
    "Automation Intent" text,
    automation_owner text,
    "Assignee Real Name" text,
    "automation status" text,
    "Device type" text,
    "Browser tested" text
);


ALTER TABLE public.bugs_backup OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    role_id uuid NOT NULL,
    module_name character varying(100) NOT NULL,
    can_create boolean DEFAULT false,
    can_retrieve boolean DEFAULT false,
    can_update boolean DEFAULT false,
    can_delete boolean DEFAULT false,
    can_comment boolean DEFAULT false,
    can_create_task boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    role_name character varying(100) NOT NULL,
    role_description text,
    is_system_role boolean DEFAULT false,
    is_active boolean DEFAULT true,
    created_by text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: security_controls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_controls (
    sno text,
    id text,
    analyze_comments text,
    observations_action_item text,
    reponsible_team text,
    owner text,
    control_domain text,
    requirement text,
    description text,
    "ISO_27001" text,
    "NIST_CSF" text,
    "SOC_2" text,
    "GDPR" text,
    "IT_Act_2000" text,
    "PCI_DSS" text,
    "HIPAA" text,
    "Priority" text,
    "Status" text,
    "Review_Date" timestamp with time zone,
    "Audit_Review_Status" text,
    "Comments" jsonb DEFAULT '[]'::jsonb,
    "Plan" text,
    "Do" text,
    "Check" text,
    "Act" text,
    "Date" text,
    task text,
    evidence text,
    review_history jsonb,
    last_review_date timestamp with time zone,
    tenant_id uuid NOT NULL,
    uuid uuid DEFAULT gen_random_uuid(),
    audit_owner text,
    department text,
    certification text
);


ALTER TABLE public.security_controls OWNER TO postgres;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id text,
    control_id text,
    task_name text,
    task_note text,
    task_priority text,
    task_type text,
    task_status text,
    attachment text,
    assigned_to text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    comments text,
    tenant_id uuid NOT NULL,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp with time zone,
    deleted_by uuid,
    control_uuid text,
    control_stage text,
    department text
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: transtrackers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transtrackers (
    id text,
    applicationtype text,
    productsegregated text,
    productowner text,
    spoc text,
    projects_products text,
    buildnumber integer,
    buildreceiveddate timestamp with time zone,
    year text,
    monthname text,
    quarternumber integer,
    monthnumber integer,
    weeknumber text,
    dayname text,
    y_q text,
    y_q_m_w text,
    m_y text,
    buildreceivedtime text,
    buildmailfrom text,
    maildetails text,
    testreportsentdate timestamp with time zone,
    testreportsenttime text,
    testreportsentby text,
    signoffstatus text,
    signoffrationale text,
    totalopenbugs integer,
    blocker text,
    high text,
    med text,
    low text,
    sit text,
    sitactualhours text,
    pt text,
    ptactualhours text,
    cbt text,
    cbtactualhours text,
    android text,
    androidactualhours text,
    ios text,
    iosactualhours text,
    securitytesting text,
    totalttestcases text,
    automatedtestcases text,
    manualexecutiontime text,
    automationexecutiontime text,
    timesaved text,
    timesavedpercent timestamp with time zone
);


ALTER TABLE public.transtrackers OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    user_id text NOT NULL,
    role_id uuid NOT NULL,
    assigned_by text,
    assigned_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    sso_provider text,
    sso_user_id uuid,
    email text,
    full_name text,
    department text,
    role text,
    first_login timestamp with time zone,
    last_login timestamp with time zone,
    login_count integer,
    profile_pic_url text,
    is_active boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    tenant_id uuid,
    default_role_id uuid,
    password text,
    department_owner text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: actions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.actions (id, control_id, action_name, action_description, action_priority, action_status, action_type, assigned_to, due_date, notes, comments, tenant_id, created_at, updated_at, is_deleted, deleted_at, deleted_by) FROM stdin;
\.


--
-- Data for Name: audits; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bugs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bugs_backup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bugs_backup ("Bug ID", "Defect type", "Summary", "Priority", "Product", "Component", "Assignee", "Status", "Resolution", "Changed", "Sprint details", "Reporter", "Automation Intent", automation_owner, "Assignee Real Name", "automation status", "Device type", "Browser tested") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: security_controls; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transtrackers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: actions actions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actions
    ADD CONSTRAINT actions_pkey PRIMARY KEY (id);


--
-- Name: bugs bugs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bugs
    ADD CONSTRAINT bugs_pkey PRIMARY KEY ("Bug ID");


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: permissions unique_role_module_tenant; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT unique_role_module_tenant UNIQUE (role_id, module_name, tenant_id);


--
-- Name: roles unique_role_name_tenant; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT unique_role_name_tenant UNIQUE (role_name, tenant_id);


--
-- Name: user_roles unique_user_role_tenant; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT unique_user_role_tenant UNIQUE (user_id, role_id, tenant_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_actions_control_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actions_control_id ON public.actions USING btree (control_id);


--
-- Name: idx_actions_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actions_is_deleted ON public.actions USING btree (is_deleted);


--
-- Name: idx_actions_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actions_priority ON public.actions USING btree (action_priority);


--
-- Name: idx_actions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actions_status ON public.actions USING btree (action_status);


--
-- Name: idx_actions_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actions_tenant_id ON public.actions USING btree (tenant_id);


--
-- Name: idx_audits_audit_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audits_audit_status ON public.audits USING btree (audit_status);


--
-- Name: idx_audits_id_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_audits_id_unique ON public.audits USING btree (id) WHERE (id IS NOT NULL);


--
-- Name: idx_audits_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audits_is_deleted ON public.audits USING btree (is_deleted);


--
-- Name: idx_audits_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audits_tenant_id ON public.audits USING btree (tenant_id);


--
-- Name: idx_bugs_changed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bugs_changed ON public.bugs USING btree ("Changed");


--
-- Name: idx_bugs_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bugs_is_deleted ON public.bugs USING btree (is_deleted);


--
-- Name: idx_bugs_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bugs_priority ON public.bugs USING btree ("Priority");


--
-- Name: idx_bugs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bugs_status ON public.bugs USING btree ("Status");


--
-- Name: idx_bugs_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bugs_tenant_id ON public.bugs USING btree (tenant_id);


--
-- Name: idx_permissions_module_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permissions_module_name ON public.permissions USING btree (module_name);


--
-- Name: idx_permissions_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permissions_role_id ON public.permissions USING btree (role_id);


--
-- Name: idx_permissions_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permissions_tenant_id ON public.permissions USING btree (tenant_id);


--
-- Name: idx_roles_role_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_roles_role_name ON public.roles USING btree (role_name);


--
-- Name: idx_roles_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_roles_tenant_id ON public.roles USING btree (tenant_id);


--
-- Name: idx_security_controls_certification; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_controls_certification ON public.security_controls USING btree (certification);


--
-- Name: idx_security_controls_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_controls_department ON public.security_controls USING btree (department);


--
-- Name: idx_security_controls_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_controls_tenant_id ON public.security_controls USING btree (tenant_id);


--
-- Name: idx_security_controls_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_controls_uuid ON public.security_controls USING btree (uuid);


--
-- Name: idx_tasks_control_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_control_uuid ON public.tasks USING btree (control_uuid);


--
-- Name: idx_tasks_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_deleted_at ON public.tasks USING btree (deleted_at);


--
-- Name: idx_tasks_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_department ON public.tasks USING btree (department);


--
-- Name: idx_tasks_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_is_deleted ON public.tasks USING btree (is_deleted);


--
-- Name: idx_tasks_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_tenant_id ON public.tasks USING btree (tenant_id);


--
-- Name: idx_user_roles_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_role_id ON public.user_roles USING btree (role_id);


--
-- Name: idx_user_roles_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_tenant_id ON public.user_roles USING btree (tenant_id);


--
-- Name: idx_user_roles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_user_id ON public.user_roles USING btree (user_id);


--
-- Name: idx_users_tenant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_tenant_id ON public.users USING btree (tenant_id);


--
-- Name: permissions permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: users users_default_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_default_role_id_fkey FOREIGN KEY (default_role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oMcc2y9ABC49Lf86GDy3tK961C5oYNhpkqwVz1dOzyFMOU56vCjDCW42Korcbcd

